.selection {
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 48px;
    flex-shrink: 0;
    align-self: stretch;
    flex-wrap: wrap;
    padding: 64px;
    margin: 64px;
    border-radius: 2px;
    background: white;
}

.animal-selection {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: space-between;
    column-gap: 48px;
    flex-shrink: 0;
    align-self: stretch;
    flex-wrap: wrap;
    padding: 4px;
    gap: 48px;
}

.animal-portrait {
    display: flex;
    width: 160px;
    height: 160px;
    min-width: 160px;
    object-fit: cover;
    border-radius: 8px;
    border: 1px solid #a8a8a8;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.animal-selection a {
    background: #c0cfb2;
    display: flex;
    min-width: 240px;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;
    flex: 1 0 0;
    flex-wrap: wrap;
    padding: 24px;
    gap: 24px;
    border-radius: 8px;
    user-select: none;
    text-decoration: none;
}

.animal-selection a:hover {
    background: #8ba888;
}

.animal-selection a:visited {
    color: inherit;
}

.animal-selection a h3 {
    color: #1E1E1E;
}

.animal-selection a p {
    color: #757575;
}